<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Europe Clustering</title>
    {% load static %}
{#    <script src="{%  static 'script.js' %}"></script>#}
    <link rel="stylesheet" href="{%  static 'stylesheet.css' %}">
    <script type="text/javascript">
        function ResizeTable() {
            if (document.getElementById('variables')) {
                var width1 = document.getElementById('variables').getElementsByTagName('td')[0].clientWidth
                document.getElementById('variables').getElementsByTagName('th')[0].style.width = (width1 - 10 + 'px')
                var width2 = document.getElementById('variables').getElementsByTagName('td')[1].clientWidth
                document.getElementById('variables').getElementsByTagName('th')[1].style.width = (width2 - 10 + 'px')

            }
            if (document.getElementById('models')) {
                var width1 = document.getElementById('models').getElementsByTagName('td')[0].clientWidth
                document.getElementById('models').getElementsByTagName('th')[0].style.width = (width1 - 10 + 'px')
                var width2 = document.getElementById('models').getElementsByTagName('td')[1].clientWidth
                document.getElementById('models').getElementsByTagName('th')[1].style.width = (width2 - 10 + 'px')

            }

            if (document.getElementById('cluster_info')) {
                for (var i = 0; i < document.getElementById('cluster_info').getElementsByTagName('th').length; i++) {
                    var width = document.getElementById('cluster_info').getElementsByTagName('th')[i].clientWidth
                    document.getElementById('cluster_info').getElementsByTagName('td')[i].style.width = (width - 9.7 + 'px')
                }

            }
        }

        function GetLabel(id) {
            var labels = document.getElementsByTagName('label');
            for( var i = 0; i < labels.length; i++ ) {
                if (labels[i].htmlFor === id)
                return labels[i];
            }
        }

        function Hide() {
            if (document.getElementsByName('algorithm')) {

                var algorithms = document.getElementsByName('algorithm')
                for (var i = 0; i < algorithms.length; i++) {
                    if (algorithms[i].matches(':checked')) {
                        var selected = algorithms[i]
                    }
                }

                var brs = document.getElementById('choose_parameters').getElementsByTagName('br');
                var ps = document.getElementById('choose_parameters').getElementsByTagName('p');
                if (selected.value === "kmeans") {
                    document.getElementById('id_linkage').style.display = 'none';
                    document.getElementById('id_eps').style.display = 'none';
                    document.getElementById('id_min_samples').style.display = 'none';
                    document.getElementById('id_n_clusters').style.display = '';

                    GetLabel('id_linkage_0').style.display = 'none';
                    GetLabel('id_eps').style.display = 'none';
                    GetLabel('id_min_samples').style.display = 'none';
                    GetLabel('id_n_clusters').style.display = '';

                    brs[0].style.display = 'none'
                    brs[1].style.display = 'none'

                    document.getElementById('steplist').style.display = 'none';

                    ps[1].style.display = ''
                    ps[2].style.display = 'none'
                } else if (selected.value === "hierarchical") {
                    document.getElementById('id_linkage').style.display = '';
                    document.getElementById('id_eps').style.display = 'none';
                    document.getElementById('id_min_samples').style.display = 'none';
                    document.getElementById('id_n_clusters').style.display = '';

                    GetLabel('id_linkage_0').style.display = '';
                    GetLabel('id_eps').style.display = 'none';
                    GetLabel('id_min_samples').style.display = 'none';
                    GetLabel('id_n_clusters').style.display = '';

                    brs[0].style.display = 'none'
                    brs[1].style.display = 'none'

                    document.getElementById('steplist').style.display = 'none';

                    ps[1].style.display = ''
                    ps[2].style.display = 'none'
                } else {
                    document.getElementById('id_linkage').style.display = 'none';
                    document.getElementById('id_eps').style.display = '';
                    document.getElementById('id_min_samples').style.display = '';
                    document.getElementById('id_n_clusters').style.display = 'none';

                    GetLabel('id_linkage_0').style.display = 'none';
                    GetLabel('id_eps').style.display = '';
                    GetLabel('id_min_samples').style.display = '';
                    GetLabel('id_n_clusters').style.display = 'none';

                    brs[0].style.display = ''
                    brs[1].style.display = ''

                    document.getElementById('steplist').style.display = 'flex';

                    ps[1].style.display = 'none'
                    ps[2].style.display = ''
                }
            }
        }

        window.onload = function() {
            // document.getElementsByClassName('dataframe')[0].thead.style.display = 'table-header-group';
            if (document.getElementById('id_algorithm')) {
                document.getElementById('id_variables').setAttribute('max-height', '100px');
                document.getElementById('id_variables').setAttribute('overflow-y', 'auto');
                document.getElementById('id_algorithm').onchange = Hide;
                Hide();
            }

            if (document.getElementById('cluster_info')) {
                var body = document.getElementById('cluster_info').getElementsByTagName('tbody')[0]
                var colors = ['#ffe8d6', '#ddbea9', '#cb997e', '#b7b7a4', '#a5a58d', '#6b705c', '#787D6B', '#848978', '#8F9484', '#999E8F']
                colors = colors.slice(0, body.children.length)
                for (var i = 0; i < body.children.length; i++) {
                    body.children[i].style.backgroundColor = colors[i]
                }

                body.style.cssText = "display: block; height: 200px; overflow-y: auto; overflow-x: hidden;"
                {#body.style.height = document.getElementById('canvas').style.height * 0.15 + 'px'#}

                var caption_cluster = document.createElement('caption')
                caption_cluster.textContent = 'Average values of selected indicators within defined clusters (2019)'
                caption_cluster.style.cssText = "font-family: 'Open Sans', verdana, arial, sans-serif; color: #444;"
                caption_cluster.style.textAlign = 'left'
                caption_cluster.style.marginBottom = '5%'
                document.getElementById('cluster_info').getElementsByTagName('table')[0].appendChild(caption_cluster)
                {#style="font-family: 'Open Sans', verdana, arial, sans-serif; color: #444;"#}


                var width = document.getElementById('cluster_info').getElementsByTagName('th')[4].clientWidth
                document.getElementById('cluster_info').getElementsByTagName('th')[4].style.width = (width + 2 + 'px')
            }
            {##}
            {#if (document.getElementById('table')) {#}
            {#    var caption_eval = document.createElement('caption')#}
            {#    caption_eval.textContent = 'Clustering evaluation'#}
            {#    caption_eval.style.cssText = "font-family: 'Open Sans', verdana, arial, sans-serif; color: #444;"#}
            {#    caption_eval.style.textAlign = 'left'#}
            {#    caption_eval.style.marginBottom = '15%'#}
            {#    caption_eval.style.marginTop = '5%'#}
            {#    document.getElementById('table').getElementsByTagName('table')[0].appendChild(caption_eval)}#}


            ResizeTable();

        };

        load_screen = function(){
            document.getElementById('loading').style.display = 'block';

            const columns = document.getElementsByClassName('column2')
            for (var i = 0; i < columns.length; i++) {
                columns[i].style.display = 'none';
            }

            document.getElementById('starting_img').style.display = 'none'
        }

        window.onresize = function() {
            if (document.getElementById('series')) {
                document.getElementById('series').style.width = '100%'
            }
            if (document.getElementById('metrics_chart')) {
                document.getElementById('metrics_chart').style.width = '100%'
            }

            ResizeTable();
        }

    </script>
</head>
<body>
<div id="header">
    <h2>
        European Countries Clustering
        <button id="home" style="float: left; margin-left: 0px; width: 22%"><a href="/homepage">Home</a></button>
        <button id="empty" style="float: left; margin-left: 5px; width: 8%; background-color: cornflowerblue; border: 2px solid cornflowerblue;"></button>
        <button id="read" style="float: right"><a href="/readabout">Read about the project</a></button>
        <button id="report" style="float: right"><a href="/report">Report</a></button>
    </h2>
</div>

{#<div id="navigation">#}
{##}
{#</div>#}

<div id="content">
    {% block content %}Ta strona jest jeszcze pusta{% endblock %}
</div>

<div id="footer">
{#    <hr/>#}
</div>

</body>
</html>