{% extends "application/base.html" %}
{% block content %}

    <div id="parameters">
        <h3>Customize report</h3>
        <form method="post" onsubmit=load_screen()>
            {% csrf_token %}
{#            {{ form.as_p }}#}
            {{ form.variables.label_tag }}<br/>{{ form.variables }} {# DODAC PODZIAL NA GRUPY ??? #}
            <br/><br/>
            {{ form.algorithm.label_tag }}{{ form.algorithm }}
            <div id="choose_parameters">
                <p>Choose parameters:</p>
                <p style="margin-bottom: -2px">{{ form.n_clusters.label_tag }} &ensp; {{ form.n_clusters }}</p>
                {{ form.linkage.label_tag }}{{ form.linkage }}
                {{ form.eps.label_tag }}<br>{{ form.eps }}
                <datalist id="steplist" style="display: flex; justify-content: space-between; width: 50%">
                    <option value="2" label="2"></option>
                    <option value="3" label="3"></option>
                    <option value="4" label="4"></option>
                    <option value="5" label="5"></option>
                    <option value="6" label="6"></option>
                    <option value="7" label="7"></option>
                    <option value="8" label="8"></option>
                    <option value="9" label="9"></option>
                    <option value="10" label="10"></option>
                    <option value="11" label="11"></option>
                </datalist>
                <br/>
                <p style="margin-top: -3px; margin-bottom: -3px">{{ form.min_samples.label_tag }} &ensp; {{ form.min_samples }}</p>
                <br/>
            </div>
            <input type="submit" value="Perform clustering" onsubmit=load_screen()>
        </form>
    </div>

    <div id="canvas" style="display:flex">

    <div id="loading" style="display: none; background-color: antiquewhite; width: 100%;">
        <img alt="Loading" src="/static/loading_gif.gif" style="display: block; width: 20%; margin-left: auto; margin-right: auto; margin-top: 10%"/>
    </div>

    {% if figure or table or series or cluster_info%}
        <div class="column2">
            <div id="table" style="margin-bottom: -5%;">
            <h2>Metrics</h2><br>
            {% if table %}
                {{ table|safe }}
            {% else %}
                <p>Oops! Something went wrong.</p>
            {% endif %}
            </div>
            <div id="series" class="graph" style="width: 50%; margin-bottom: 100px">
                {% if series %}
                    {{ series|safe }}
{#                {% else %}#}
{#                    <p>Oops! Something went wrong.</p>#}
                {% endif %}
            </div>
        </div>
        <div class="column2">
            <div id="map" class="graph" style="float: right">
                    {% if figure %}
                        {{ figure|safe }}
{#                    {% else %}#}
{#                        <p>Oops! Something went wrong.</p>#}
                    {% endif %}
            </div>
    {#            <div id="dendrogram" class="graph">#}
    {#                <img src="data:image/png;base64,{{ other_graph }}" alt="" height="250" ,width="250">#}
    {#            </div>#}
            <div id="cluster_info" style="float: right; margin-right: 5%">
                    {% if cluster_info %}
                        {{ cluster_info|safe }}
{#                    {% else %}#}
{#                        <p>Oops! Something went wrong.</p>#}
                    {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
{#	<script src='https://cdn.plot.ly/plotly-2.8.3.min.js'></script>#}
{#    <script>#}
{#        div = document.getElementById("map");#}
{##}
{#        var data = [{#}
{#              type: 'choropleth',#}
{#              locationmode: 'country names',#}
{#              locations: {{ countries }},#}
{#              z: {{ labels }},#}
{#              autocolorscale: true#}
{#        }];#}
{##}
{#        var layout = {#}
{#            title: 'Clustering results',#}
{#            geo: {#}
{#                projection: {#}
{#                    type: 'conic conformal'#}
{#                },#}
{#                lataxis: {#}
{#                    range:[35,75]#}
{#                },#}
{#                lonaxis: {#}
{#                    range:[-15, 45]#}
{#                }#}
{#            }#}
{#          };#}
{#        var config = {responsive: true};#}
{##}
{#        Plotly.newPlot(div, data, layout, config);#}
{#      });#}
{#    </script>#}
{% endblock %}
