{% extends "application/base.html" %}
{% block content %}
    <div id="parameters">
        <h3>Customize report</h3>
        <form method="post" onsubmit=load_screen()>
            {% csrf_token %}
{#            {{ form.as_p }}#}
            {{ form.variables.label_tag }}{{ form.variables }} {# DODAC PODZIAL NA GRUPY ??? #}
            <br/><br/>
            {{ form.algorithm.label_tag }}{{ form.algorithm }}
            <p>Choose parameters:</p>
            {{ form.n_clusters.label_tag }}{{ form.n_clusters }}
            <br>
            {{ form.linkage.label_tag }}{{ form.linkage }}
            {{ form.eps.label_tag }}{{ form.eps }}
{#            <p>Value: <span id="id_eps_value"></span></p>#}
            <br/>
            {{ form.min_samples.label_tag }}{{ form.min_samples }}
            <br/>
            <input type="submit" value="Perform clustering" onsubmit=load_screen()>
        </form>
    </div>

    <div id="canvas" style="display:flex">

    <div id="loading" style="display: none; background-color: red"> Loading...</div>

{#    <div id="loader"></div>#}
{#	<div style="display:none;" id="myDiv" class="animate-bottom"><div/>#}

    {% if figure or table or series or cluster_info%}
        <div class="column2">
            <div id="table" >
            <h2>Metrics</h2><br>
            {% if table %}
                {{ table|safe }}
            {% else %}
                <p>Oops! Something went wrong.</p>
            {% endif %}
            </div>
            <div id="series" class="graph">
                {% if series %}
                    {{ series|safe }}
                {% else %}
                    <p>Oops! Something went wrong.</p>
                {% endif %}
            </div>
        </div>
        <div class="column2">
            <div id="map" class="graph" style="float:right">
                    {% if figure %}
                        {{ figure|safe }}
                    {% else %}
                        <p>Oops! Something went wrong.</p>
                    {% endif %}
            </div>
    {#            <div id="dendrogram" class="graph">#}
    {#                <img src="data:image/png;base64,{{ other_graph }}" alt="" height="250" ,width="250">#}
    {#            </div>#}

            <div id="cluster_info" style="float:right">
                    {% if cluster_info %}
                        {{ cluster_info|safe }}
                    {% else %}
                        <p>Oops! Something went wrong.</p>
                    {% endif %}
            </div>
        </div>
    {% endif %}
    </div>


{% endblock %}
