{% extends "application/base.html" %}

{% block content %}
    <div id="parameters">
        <h3>Customize report</h3>
        <form method="post">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            {{ form.variables.label_tag }}{{ form.variables }} {# DODAC PODZIAL NA GRUPY ??? #}
            <br/><br/>
            {{ form.algorithm.label_tag }}{{ form.algorithm }}
            <p>Choose parameters:</p>
            {{ form.n_clusters.label_tag }}{{ form.n_clusters }}
            <br>
            {{ form.linkage.label_tag }}{{ form.linkage }}
            {{ form.eps.label_tag }}{{ form.eps }}
{#            <p>Value: <span id="id_eps_value"></span></p>#}
            <br/>
            {{ form.min_samples.label_tag }}{{ form.min_samples }}
            <br/>
            <button>Perform clustering</button>
        </form>
    </div>

    {% if figure or table or series or cluster_info%}
    <div id="canvas">

        <div id="map" class="graph">
        {% if figure %}
            {{ figure|safe }}
        {% else %}
            <p>Oops! Something went wrong.</p>
        {% endif %}
        </div>


        <div id="table" class="graph">
        {% if table %}
            {{ table|safe }}
        {% else %}
            <p>Oops! Something went wrong.</p>
        {% endif %}
        </div>


        <div id="series" class="graph">
        {% if series %}
            {{ series|safe }}
        {% else %}
            <p>Oops! Something went wrong.</p>
        {% endif %}
        </div>

        <div id="dendrogram" class="graph">
            <img src="data:image/png;base64,{{ other_graph }}" alt="" height="250" ,width="250">
        </div>

        <div id="cluster_info" class="graph">
        {% if cluster_info %}
            {{ cluster_info|safe }}
        {% else %}
            <p>Oops! Something went wrong.</p>
        {% endif %}
        </div>

    </div>
    {% endif %}

{% endblock %}
