{% extends "application/base.html" %}

{% block content %}
    <div id="readme_page">
        <div class="header">
            <h2>Application for Analysis of the Economic Growth Indexes for European Countries</h2>
            <p>Authors: Agata Makarewicz & Jacek Wiśniewski<br/>Supervisor: Agnieszka Jastrzębska, Ph.D. Eng.</p>
        </div>
        <div id="descriptions">
            <div class="column">
                <h3>About us</h3>
                <p>Application has been created as part of Data Science diploma thesis on Warsaw University of Technology, Faculty of Mathematics and Information Science. The aim of the diploma thesis is to apply various clustering algorithms to the time series of economic growth of European countries. The analyzed data is to be pre-processed using methods such as segmentation, normalization or anomaly removal. The results of the work are presented in this application written in Django, which allows the user to compare the indicators and clustering results for different countries and algorithms.</p>
                <h3>Contact</h3>
                <p>If you have any questions or you want to report failure, please contact us: @@@</p>
            </div>
            <div class="column">
                <div class="row">
                    <h3>Data</h3>
                    <p>Data was collected from Penn World Table, World Bank Open Data and UNDP's Human Development Reports.  See the table below for more information about indicators available for analysis.</p>
                    <table>
                        <thead>
                            <tr>
                                <th class='indexcol'>Index</th><th class='desccol'>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for variable in variables %}
                            <tr>
                                <td class='indexcol'>{{ variable.name }}</td><td class='desccol'>{{ variable.description }}</td>
                            </tr>
                            {% endfor %}
                            {{loaded_data | safe}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <h3>Algorithms</h3>
                    <p>There are three different clustering algorithms implemented. See the table below for more information about each model and its parameters.</p>
                    <table>
                        <tbody>
                        <tr>
                            <th>Model</th><th>Description</th>
                        </tr>
                        <tr>
                            <td>Kmeans</td><td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
