{% extends "application/base.html" %}

{% block content %}
    <div id="report_page">
        <div class="header">
            <h2>Testing algorithm parameters</h2>
            <p>In this application, the user can perform clustering of European countries using chosen algorithm and parameters. The following report presents the behaviour of the algorithms based on chosen parameters.</p>
        </div>
        <div id="report_charts" style="display:flex">
            <div id="metrics" class="column" style="padding-right: 15px; ">
                <p>In the figure below, there are presented KMeans and Hierarchical algorithms’ results for a different number of chosen clusters measured by one of the three available evaluation metrics.</p>
                <ul>
                    <li>KMeans results in most cases are lower than Hierarchical results. It has the worst results for the Silhouette score and Dunn index. The only measure that favours KMeans is Calinski-Harabasz Index which means the KMeans algorithm groups similar countries in one cluster but does not necessarily separate clusters in a proper way. The best number of clusters for KMeans is 3 or 4.</li>
                    <li>The best Hierarchical algorithm variants are complete and average. The "complete" variant has more similar countries in one cluster (according to the Calinski-Harabasz index) while the "average" variant has better-separated clusters (according to the Dunn index). Furthermore, the complete variant has more stable results. Like for KMeans, Hierarchical results suggest choosing 3 or 4 clusters.</li>
                </ul>
            <div id='metrics_chart' style="width: 50%">
                {% if metrics %}
                    {{ metrics|safe }}
                {% else %}
                    <p>Oops! Something went wrong.</p>
                {% endif %}
            </div>
            <p>Chart on the right presents the grouping resulting from Agglomerative Clustering model, with linkage set to 'complete' and number of clusters set to 4. Grouping was performed on the 10 year intervals (10 year back from the value shown on the slider), to observe the change happening in the economic indicators' values and their similarity between countries. As it can be observed, in the 1998, a year before the founding of the eurozone, 'core' European countries, which accepted the new currency, are clustered together. It is explainable, given the fact that there's a list of requirements concerning country's economy, to join the eurozone. There is also a cluster formed by the previous eastern block countries. Going forward to 2007, which was three years after many countries joined the EU and some of them also the eurozone, there is no longer clear separation of those countries - they start to synchronize with more developed countries.</p>
            </div>
            <div id="dbscan" class="column" style="padding-left: 20px">
                {% if dbscan %}
                    {{ dbscan|safe }}
                {% else %}
                    <p>Oops! Something went wrong.</p>
                {% endif %}
                <p>Because the DBSCAN algorithm does not provide an option to choose a number of clusters, its results are presented in a separate figure. Dark green represents outliers that should not be included in any cluster. DBSCAN creates from 1 to 3 clusters depending on chosen parameters. Choosing a bigger limit of the minimum number of countries forming a cluster (min samples) leads to an increasing number of outliers. Choosing a bigger eps parameter leads to creating a smaller number of clusters.</p>
                <div id='insights_chart'>
                {% if insights %}
                    {{ insights|safe }}
                {% else %}
                    <p>Oops! Something went wrong.</p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}